---
const { data, total } = Astro.props;
---

<!-- Congratulations card -->
<div class='col-xl-8'>
  <div class='card h-100'>
    <div class='card-body text-nowrap'>
      <h4 class='card-title mb-1 d-flex gap-2 flex-wrap'>Last Send 🎉</h4>
      <p class='pb-0'>{new Date(data.created_at).toLocaleString()} 🕞</p>
      <h3 class='text-primary mb-1'>HAWB {data.AWB_NO} 🚚</h3>
      <p class='mb-2 pb-1'>
        {data.IS_INTERNATIONAL == "1" ? "Internasional" : "Domestik "}
        {data.IS_EKSPOR == "1" ? "Ekspor " : "Impor "}
        {data.CNE_NAME} 🚀
      </p>
      <a data-card={JSON.stringify(data)} href='javascript:;' class='btn btn-sm btn-primary' id='viewDetails-card'
        >View Details</a
      >
    </div>
    <img
      src='/img/illustrations/rocket.png'
      class='position-absolute bottom-0 end-0 me-7'
      height='260'
      alt='view sales'
    />
  </div>
</div>
<!--/ Congratulations card -->

<script>
  import "@components/DatatablesComponent.css";

  import { Swal } from "@assets/libs/sweetalert2/sweetalert2.js";
  import "@assets/libs/sweetalert2/sweetalert2.scss";

  let tpl = data => {
    let trTd = [];
    const tbl = Object.entries(data).map(([key, value]) => {
      return `<tr><td>${key}</td><td>${value}</td></tr>`;
    });
    return `<div class="table-responsive">
                <table class="table table-bordered border-secondary table_component">
                ${tbl.join("")}
                </table>
          </div>
          `;
  };
  document.addEventListener("DOMContentLoaded", function () {
    const el = $("#viewDetails-card");
    const dataCard = el.data("card");

    el.on("click", function () {
      Swal.fire({
        title: dataCard.AWB_NO,
        html: tpl(dataCard),
        confirmButtonText: "Ok"
      });
    });
  });
</script>
