---
import DatatablesComponent from "@components/DatatablesComponent.astro";
import FormComponent from "@components/Template/FormComponent.astro";
import TabComponent from "@components/Template/TabComponent.astro";
import Layout from "@layouts/Layout.astro";

const column = ["HAWB", "NO_INVOICE", "TANGGAL", "SMU", "RESPONSE"];
const tabular = ["Form Void Invoice", "Data Void Invoice"];
const formDataVoid = [
  {
    type: "date",
    name: "TANGGAL",
    label: "TANGGAL",
    required: true
  },
  {
    type: "text",
    name: "NO_INVOICE",
    label: "NO_INVOICE",
    required: true
  },
  {
    type: "text",
    name: "SMU",
    label: "SMU",
    required: true
  },
  {
    type: "text",
    name: "HAWB",
    label: "HAWB",
    required: true
  }
];
---

<Layout title='Angkasapura-Void Invoice'>
  <TabComponent tabular={tabular}>
    <!-- tab 1 -->
    <div
      class='tab-pane fade active show'
      id={"navs-justified-" + tabular[0].toLowerCase().replaceAll(" ", "-")}
      role='tabpanel'>
      <a class='waves-effect waves-light btn-large' href='#'>Wave</a>

      <FormComponent title='Form Void Invoice' formData={formDataVoid} uri='/angkasapura/void-invoice' />
    </div>
    <!-- tab 2 -->
    <div class='tab-pane fade' id={"navs-justified-" + tabular[1].toLowerCase().replaceAll(" ", "-")} role='tabpanel'>
      <div class='col-md-12'>
        <DatatablesComponent uri='/angkasapura/get-void-invoice' columns={column} responsive={true}>
          <thead class='table-border-bottom-0'>
            <tr>
              {
                column.map(item => {
                  return <th>{item}</th>;
                })
              }
            </tr>
          </thead>
        </DatatablesComponent>
      </div>
    </div>
  </TabComponent>

  <Fragment slot='scripts'>
    <script src='@components/DatatablesComponent.js'></script>
  </Fragment>
</Layout>
