---
import menuItems from "@vendor/js/menu-data";

const currentPath = Astro.url.pathname;
// Fungsi helper untuk memeriksa apakah URL cocok
const isActive = (href: string) => {
  return currentPath === href || currentPath.startsWith(`${href}/`);
};

// Cek apakah ada submenu yang aktif
const hasActiveChild = (children: any) => {
  return children.some((child: any) => isActive(child.href));
};
---

<aside
  id="layout-menu"
  class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0"
>
  <div class="container-xxl d-flex h-100">
    <ul class="menu-inner">
      {
        menuItems.map((menu) => (
          <li
            class="menu-item"
            class:list={{ active: hasActiveChild(menu.children) }}
          >
            <a href={menu.href} class="menu-link menu-toggle">
              <i class={`menu-icon tf-icons mdi ${menu.icon}`} />
              <div data-i18n={menu.text.replace(" ", "_")}>{menu.text}</div>
            </a>
            <ul class="menu-sub">
              {menu.children.map((child) => (
                <li
                  class="menu-item"
                  class:list={{ active: isActive(child.href) }}
                >
                  <a href={child.href} class="menu-link">
                    <i class={`menu-icon tf-icons mdi ${child.icon}`} />
                    <div data-i18n={child.text.replace(" ", "_")}>
                      {child.text}
                    </div>
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
