---
import Layout from "@layouts/Layout.astro";
import LogViewer from "@components/Back/LogViewer.astro";
import { encryptKey } from "@assets/js/crypto.js";
const user = "wisnu"; // misalnya diambil dari session login
const encryptedKey = encodeURIComponent(await encryptKey({ user }));
const streamUrl = "http://localhost:8000/sse/sending-ke-hubnet?key=" + encryptedKey;
---

<Layout title='Status Response'>
  <div class='row'>
    <LogViewer title='Data Tracking Log' height='400px' streamUrl={streamUrl} />
  </div>
</Layout>
<script>
  // @ts-nocheck
  //   import { encryptKey } from "@assets/js/crypto.js";
  //   const user = "wisnu"; // misalnya diambil dari session login
  //   const encryptedKey = await encryptKey({ user });
  // const evtSource = new EventSource(`http://localhost:8000/sse/fibonacci?key=${encodeURIComponent(encryptedKey)}`);

  // evtSource.onmessage = event => {
  //   console.log("📡 Fibonacci:", event.data);
  //   document.getElementById("fib").textContent = event.data;
  // };

  //   const channels = ["fibonacci", "arithmetic", "geometric", "power", "factorial"];
  //   for (const path of channels) {
  //     const evt = new EventSource(`http://localhost:8000/sse/${path}?key=${encodeURIComponent(encryptedKey)}`);
  //     evt.onmessage = e => console.log(`📡 ${path}:`, e.data);
  //   }
</script>
