---
export interface Props {
  name: string;
}
const { name } = Astro.props;
const uniqueId = crypto.randomUUID();
---

<div class='form-floating form-floating-outline'>
  <input
    name={name}
    type='text'
    class='form-control input-date'
    id={uniqueId}
    placeholder={name.toUpperCase()}
    autocomplete='off'
    required
  />
  <label for={uniqueId}>{name.toUpperCase()}</label>
</div>
<script define:vars={{ uniqueId }}>
  document.addEventListener("DOMContentLoaded", () => {
    $("#" + uniqueId).flatpickr();
  });
</script>
