---
import Blog from "~/layouts/Blog.astro";
import About from "~/pages/blog/aboutUs.js";
---

<Blog title="Halaman Blog">
  <!-- Hero Start -->
  <section
    class="bg-half-170 d-table w-100"
    style="background: url('/blog/images/warehouse1.jpg') center;"
  >
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-12">
          <div class="title-heading text-center">
            <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">
              {About.hero}
            </small>
            <h5
              class="heading fw-semibold mb-0 page-heading text-white title-dark"
            >
              {About.heroTitle}
            </h5>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Hero End -->

  <!-- Start -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <img
            src="/blog/images/IMG_1955UP.jpg"
            class="img-fluid rounded shadow"
            alt=""
          />
        </div><!--end col-->
        <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="section-title ms-lg-5">
            <h4 class="title mb-3">{About.contentTitle}</h4>
            {
              About.content.map((i)=>(
                  <p class="text-muted">{i}</p>
              ))
            }
              
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
      <div class="container mt-100 mt-10">
          <div class="row">
             <div class="col-lg-12 col-md-12 text-center">
              <h2 class="title mb-4">Vision & Mission</h2>
              </div><!--end col-->
             </div>
              <div class="col-lg-12 col-md-12">
                  <div class="section-title me-md-4">
                      <h4 class="title mb-4">Vision:</h4>
                      <p class="text-muted">To be a world-class warehousing and ground handling operator, guided by global standards of efficiency and effectiveness.</p>
                  </div>
              </div><!--end col-->
              <div class="col-lg-12 col-md-12">
                  <div class="section-title me-md-4">
                      <h4 class="title mb-4">Mission:</h4>
                      <p class="text-muted">
                        To provide reliable and efficient services at all airports across Indonesia. To uphold 3S (Safety, Service, and Security) as our top priority.
                      </p>
                  </div>
              </div><!--end col-->
          </div><!--end row-->
    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        {
          About.contentList.map((item) =>(
                   <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card shadow p-4 rounded features features-classic feature-primary">
                        <i class="mb-0">
                          <iconify-icon class="h1 mb-0" icon={item.icon} width="40" height="40"  style="color: #16642e"></iconify-icon>
                        </i>
                        <div class="content">
                          <a href="#" class="title h5 text-dark">{item.title}</a>

                          <p class="text-muted mt-3">
                            {
                              item.point.map((point) =>(
                                <li>{point}</li>
                              ))
                            }
                          </p>
                        </div>
                      </div>
                    </div><!--end col-->
          ))
        }
 
      </div><!--end row-->
    </div><!--end container-->


    <!-- Partners start -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        {
          About.clientImg.map((img) =>(
            <div class="col-lg-2 col-md-2 col-6 text-center pb-4">
              <img src={`/blog/images/client/${img}`} class="img-fluid" alt="" />
            </div><!--end col-->
          ))
        }
      </div><!--end row-->
    </div><!--end container-->
      <!-- Partners End -->

      </div><!--end container-->
  </section><!--end section-->
  <!-- End -->
</Blog>

<script is:inline>
  // document.addEventListener("DOMContentLoaded", function () {
  //   const menuList = document.querySelector("#main-menu");
  //   if (!menuList) return; // Keluar jika menu tidak ditemukan
  //   const menuLinks = menuList.querySelectorAll("a");
  //   menuLinks.forEach((link) => {
  //     link.style.color = "#363535ff";
  //   });
  // });
</script>
