---
import Blog from "~/layouts/Blog.astro";
import About from "~/pages/blog/aboutUs.js";
console.log(About);
---

<Blog title="Halaman Blog">
  <!-- Hero Start -->
  <section
    class="bg-half-170 d-table w-100"
    style="background: url('/blog/images/warehouse1.jpg') center;"
  >
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-12">
          <div class="title-heading text-center">
            <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">
              {About.hero}
            </small>
            <h5
              class="heading fw-semibold mb-0 page-heading text-white title-dark"
            >
              {About.heroTitle}
            </h5>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Hero End -->

  <!-- Start -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <img
            src="/blog/images/about.jpg"
            class="img-fluid rounded shadow"
            alt=""
          />
        </div><!--end col-->
        <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="section-title ms-lg-5">
            <h4 class="title mb-3">{About.contentTitle}</h4>
            <p class="text-muted">{About.content}</p>
            <p class="text-muted">
              PT. Mitra Adira Utama was established in 2005, driven by the rapid growth of Indonesia’s cargo export business. Since then, we have expanded steadily across the nation to meet the growing demand for reliable and efficient aviation and logistics services.
              </p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        {
          About.contentList.map((item) =>(
                   <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card shadow p-4 rounded features features-classic feature-primary">
                        <i class="mb-0">
                          <iconify-icon class="h1 mb-0" icon={item.icon} width="40" height="40"  style="color: #16642e"></iconify-icon>
                        </i>
                        <div class="content border-bottom">
                          <a href="#" class="title h5 text-dark">{item.title}</a>

                          <p class="text-muted mt-3">
                            {
                              item.point.map((point) =>(
                                <li>{point}</li>
                              ))
                            }
                          </p>
                        </div>

                        <a href="#" class="d-flex align-items-center justify-content-between" >
                          <span class="fw-medium text-dark">Read More</span>
                          <i class="mdi mdi-arrow-right"></i>
                        </a>
                      </div>
                    </div><!--end col-->
          ))
        }
 
      </div><!--end row-->
    </div><!--end container-->
    <div class="container-fluid px-0 mt-100 mt-60">
      <div class="bg-half-260" style="background: url('/blog/images/cta.jpg') top;">
        <div class="bg-overlay"></div>
        <div class="play-icon">
          <iframe width="1000" height="520.75" src="https://www.youtube.com/embed/wI1_IIAxaoE?si=hAMYpMbMHEoXBCf-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="tiny-single-item">

            <div class="tiny-slide px-md-5">
              <div class="card client-testi text-center">
                <img
                  src="/blog/images/client/01.jpg"
                  class="avatar avatar-small rounded-pill mx-auto"
                  alt=""
                />

                <div class="card-body pb-0 content">
                  <p class="h5 fw-normal text-muted fst-italic">
                    " The advantage of its Latin origin and the relative
                    meaninglessness of Lorum Ipsum is that the text does not
                    attract attention to itself or distract the viewer's
                    attention from the layout. "
                  </p>

                  <div class="name mt-4">
                    <small class="text-uppercase fw-semibold d-block"
                      >Johnny Rosario</small
                    >
                    <small class="text-muted">C.E.O</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <!-- Partners start -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="/blog/images/client/logo-1.svg" class="img-fluid" alt="" />
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="/blog/images/client/logo-2.svg" class="img-fluid" alt="" />
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="/blog/images/client/logo-3.svg" class="img-fluid" alt="" />
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="/blog/images/client/logo-4.svg" class="img-fluid" alt="" />
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="/blog/images/client/logo-5.svg" class="img-fluid" alt="" />
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="/blog/images/client/logo-6.svg" class="img-fluid" alt="" />
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
    <!-- Partners End -->

    <div class="container-fluid mt-100 mt-60">
      <div class="row">
        <div class="col-12 px-0">
          <div class="tiny-six-item">
            <div class="tiny-slide">
              <div class="card team team-primary">
                <div class="card-img">
                  <img src="/blog/images/client/09.jpg" class="img-fluid" alt="" />
                  <div class="card-overlay"></div>
                </div>
                <div class="team-content">
                  <a
                    href="javascript:void(0)"
                    class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                    >Dennis Rosario</a
                  >
                  <small class="text-white title-dark">C.E.O</small>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card team team-primary">
                <div class="card-img">
                  <img src="/blog/images/client/10.jpg" class="img-fluid" alt="" />
                  <div class="card-overlay"></div>
                </div>
                <div class="team-content">
                  <div class="name">
                    <a
                      href="javascript:void(0)"
                      class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                      >Billy Gregory</a
                    >
                    <small class="text-white title-dark">Manager</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card team team-primary">
                <div class="card-img">
                  <img src="/blog/images/client/11.jpg" class="img-fluid" alt="" />
                  <div class="card-overlay"></div>
                </div>
                <div class="team-content">
                  <div class="name">
                    <a
                      href="javascript:void(0)"
                      class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                      >Connie Dunton</a
                    >
                    <small class="text-white title-dark">Manager</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card team team-primary">
                <div class="card-img">
                  <img src="/blog/images/client/12.jpg" class="img-fluid" alt="" />
                  <div class="card-overlay"></div>
                </div>
                <div class="team-content">
                  <div class="name">
                    <a
                      href="javascript:void(0)"
                      class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                      >Alberta Petty</a
                    >
                    <small class="text-white title-dark">Manager</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card team team-primary">
                <div class="card-img">
                  <img src="/blog/images/client/13.jpg" class="img-fluid" alt="" />
                  <div class="card-overlay"></div>
                </div>
                <div class="team-content">
                  <div class="name">
                    <a
                      href="javascript:void(0)"
                      class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                      >Shirley Garcia</a
                    >
                    <small class="text-white title-dark">Manager</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card team team-primary">
                <div class="card-img">
                  <img src="/blog/images/client/14.jpg" class="img-fluid" alt="" />
                  <div class="card-overlay"></div>
                </div>
                <div class="team-content">
                  <div class="name">
                    <a
                      href="javascript:void(0)"
                      class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                      >Michael Wheeler</a
                    >
                    <small class="text-white title-dark">Manager</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="counter-box position-relative text-center">
            <h2 class="mb-0 display-1 fw-bold title-dark mt-2 opacity-05">
              <span class="counter-value" data-target="5458">3</span>
            </h2>
            <span
              class="counter-head fw-semibold title-dark position-absolute top-50 start-50 translate-middle"
              >Investment Projects</span
            >
          </div><!--end counter box-->
        </div><!--end col-->

        <div class="col-md-3 col-6">
          <div class="counter-box position-relative text-center">
            <h2 class="mb-0 display-1 fw-bold title-dark mt-2 opacity-05">
              <span class="counter-value" data-target="15">1</span>
            </h2>
            <span
              class="counter-head fw-semibold title-dark position-absolute top-50 start-50 translate-middle"
              >Years of Experience</span
            >
          </div><!--end counter box-->
        </div><!--end col-->

        <div class="col-md-3 col-6">
          <div class="counter-box position-relative text-center">
            <h2 class="mb-0 display-1 fw-bold title-dark mt-2 opacity-05">
              <span class="counter-value" data-target="54">0</span>
            </h2>
            <span
              class="counter-head fw-semibold title-dark position-absolute top-50 start-50 translate-middle"
              >Offices in the World</span
            >
          </div><!--end counter box-->
        </div><!--end col-->

        <div class="col-md-3 col-6">
          <div class="counter-box position-relative text-center">
            <h2 class="mb-0 display-1 fw-bold title-dark mt-2 opacity-05">
              <span class="counter-value" data-target="214">3</span>
            </h2>
            <span
              class="counter-head fw-semibold title-dark position-absolute top-50 start-50 translate-middle"
              >Successful Cases</span
            >
          </div><!--end counter box-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->
</Blog>
<script is:inline>
  // document.addEventListener("DOMContentLoaded", function () {
  //   const menuList = document.querySelector("#main-menu");
  //   if (!menuList) return; // Keluar jika menu tidak ditemukan
  //   const menuLinks = menuList.querySelectorAll("a");
  //   menuLinks.forEach((link) => {
  //     link.style.color = "#363535ff";
  //   });
  // });
</script>
