---
import Blog from "~/layouts/Blog.astro";
import O from "~/pages/blog/ourExpertise.js";
---

<Blog title="Halaman Our Expertise">
  <!-- Hero Start -->
  <section class="home-slider position-relative bg-white-overlay">
    <div
      id="carouselExampleIndicators"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        {
          O.hero.map((item, index) => (
            <div
              class={`carousel-item ${index == 0 ? "active" : ""}`}
              data-bs-interval="3000"
            >
              <div
                class="bg-home pb-md-0 d-flex align-items-center"
                style={{ background: `url(${item.image}) center` }}
              >
                <div class="bg-overlay bg-gradient-white-overlay" />
                <div class="container">
                  <div class="row mt-5 mt-sm-0 align-items-center">
                    <div class="col-lg-10 col-md-10 ">
                      <div class="title-heading mt-4 position-relative">
                        <h4
                          class={`heading fw-bold mb-3 animated fadeInUpBig animation-delay-${item.idText}`}
                        >
                          {item.title}
                        </h4>
                        {item.content.map((sub, idx) => (
                          <p
                            class={`title-dark mx-auto animated fadeInUpBig animation-delay-${item.idText}`}
                          >
                            {sub}
                          </p>
                        ))}
                        <div class="position-absolute top-0 start-50 translate-middle">
                          <img
                            src="/blog/images/shop/rounded-shape.png"
                            class="mover"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="carousel-indicators">
        {
          O.hero.map((item, index) => (
            <mybutton
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to={index}
              class={index == 0 ? "active" : ""}
              aria-current={index == 0 ? "true" : ""}
              aria-label={`Slide ${item.idText}`}
            />
          ))
        }
      </div>
    </div>
  </section><!--end section-->
</Blog>
